@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-synthesis: none;
}

@layer base {
  :root {
    --background: 240 20% 99%;
    --foreground: 210 13% 13%;
    --card: 240 20% 98%;
    --card-foreground: 210 13% 13%;
    --popover: 240 20% 98%;
    --popover-foreground: 210 13% 13%;
    --primary: 206 100% 50%;
    --primary-foreground: 0 0% 93%;
    --secondary: 203 100% 92%;
    --secondary-foreground: 216 71% 23%;
    --muted: 230 11% 89%;
    --muted-foreground: 210 13% 13%;
    --accent: 240 11% 95%;
    --accent-foreground: 210 13% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 10% 82%;
    --input: 233 10% 82%;
    --ring: 206 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 7%;
    --foreground: 220 9% 94%;
    --card: 220 6% 10%;
    --card-foreground: 220 9% 94%;
    --popover: 220 6% 10%;
    --popover-foreground: 220 9% 94%;
    --primary: 206 100% 50%;
    --primary-foreground: 0 0% 93%;
    --secondary: 209 100% 19%;
    --secondary-foreground: 205 100% 88%;
    --muted: 214 7% 19%;
    --muted-foreground: 220 9% 94%;
    --accent: 225 6% 14%;
    --accent-foreground: 220 9% 94%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 8% 28%;
    --input: 213 8% 28%;
    --ring: 206 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
